body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.left .nav-link {
    color: #333;
    font-weight: bold;
    margin-right: 15px;
    text-transform: uppercase;
}

.left .dropdown-menu {
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.mid .logo {
    width: 150px;
   
}

.right .search-bar input {
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 10px;
}

.right i {
    color: #333;
    font-size: 1.2rem;
    cursor: pointer;
}

.right .btn {
    text-transform: uppercase;
}
